<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>doc2date</title>
	<meta name="description" content="doc2date">
	<meta name="author" content="Benjamin Wallace">
	
	<style>
		h1 {
			text-align: center;
		}

		div#main {
			margin: 0 auto;
			width: 60%;
		}

		textarea {
			height: 500px;
			width: 100%;
			resize: vertical;
		}

		button {
			width: 100%;
		}

		span {
			font-weight: bold;
			font-size: 20pt;
		}

		a {
			color: black;
		}

		#about {
			display: none;
		}
	</style>

	<script>
		function about() {
			about = document.getElementById("about");
			about.style.display = "inline";
		}
	</script>
</head>

<body>
	<div id="main">
		<h1>doc2date</h1>
		
		<a href="#" onclick="about()">About</a><br /><br />
		<div id="about">
			doc2date is a prediction engine that tries to guess the publication date of a document. It is trained on
			works of fiction over the period 1700-1922 and works best on text segments from such works.<br /><br />

			doc2date is open source. To learn more about how doc2date was created, take a look at the
			<a href="https://github.com/bencwallace/doc2date">github</a> repository.<br /><br />

			To learn more, you can contact me (Benjamin Wallace) at me [at] bcwallace [dot] com or visit my
			<a href="https://bcwallace.com">website</a>.
			<br /><br />
		</div>
		
		<form action="{{ url_for('predict') }}" method="post" />
			<textarea name="text" required="required">{{ text }}</textarea>
			<br /><br />
			<button type="submit">Date</button>
		</form>
		
		<br />
		
		{% if prediction is defined %}
			<span id="prediction">Predicted date: {{ prediction }}</span>
		{% endif %}
	</div>
</body>

</html>
