<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>doc2date</title>
	<meta name="description" content="doc2date">
	<meta name="author" content="Benjamin Wallace">
	
	<style>
		h1 {
			text-align: center;
		}

		div#main {
			margin: 0 auto;
			width: 60%;
		}

		textarea {
			height: 500px;
			width: 100%;
			resize: vertical;
		}

		button {
			width: 100%;
		}

		span {
			font-weight: bold;
			font-size: 20pt;
		}
	</style>
</head>

<body>
	<h1>doc2date</h1>
	<div id="main">
		<form action="{{ url_for('predict') }}" method="post" />
			<textarea name="text" required="required">{{ text }}</textarea>
			<br /><br />
			<button type="submit">Date</button>
		</form>
		<br />
		{% if prediction is defined %}
			<span id="prediction">Predicted date: {{ prediction }}</span>
		{% endif %}
	</div>
</body>

</html>
